@{
    ViewData["Title"] = "Home Page";
}

    <div class="card text-white bg-secondary mb-3 align-items-center">
        <img style="height: 400px; width: 100%; display: block;" src="~/images/banking.jpg">
    </div>
    <div class="list-group">
        <a href="\CheckingAccounts" class="list-group-item list-group-item-action">My Checking Accounts</a>

        <a href="\BusinessAccounts" class="list-group-item list-group-item-action">My Business Accounts</a>

        <a href="\LoanAccounts" class="list-group-item list-group-item-action">My Loan Accounts</a>
        <a href="\CDAccounts" class="list-group-item list-group-item-action">My CD Accounts</a>

    </div>


